* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background: #f6f6f6;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("/imgs/livingbg.jpg");
  background-size: cover;
  z-index: -1;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 60%;
  left: 62%;
  width: 30vw;
  height: 30vh;
  background-color: #497174;
  display: none;
  border-radius: 12px;
  display: flex;
  display: none;
  flex-direction: column;
  transition: all 0.3s;
  z-index: 101;
}

.chat-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.whatsapp {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  font-size: 1.2rem;
}

.chat-text-up {
  margin-left: 1rem;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.chat-text {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 34px;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.chat-msg {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  justify-content: flex-end;
}

.msg {
  border-radius: 34px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #25d366;
  width: 12rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: #fff;
  transition: all 0.2s;
}

.msg:hover {
  background-color: #24b55a;
}

.visible {
  display: block;
}


.chat {
  position: fixed;
  top: 90%;
  left: 90%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

.chat > i {
  color: #fff;
  font-size: 1.3vmax;
}

#goUp {
  left: 95%;
  text-decoration: none;
}

::-webkit-scrollbar {
  background: #bebebe;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #767676;
  border-radius: 100vw;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  transition: all linear 0.5s;
  z-index: 16;
}

.bold {
  font-weight: bold;
  font-size: 1vmax;
  transition: all 0.3s;
  width: 100%;
  position: relative;
}

.bold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid #000;
  transition: all 0.2s linear;
}

.bold:hover::before {
  width: 90%;
}
.sup-up {
  display: none;
}

.up {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#s {
  display: none;
  width: 5vmax;
  object-fit: cover;
}

#uper-navi {
  display: none;
}

#nav {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

#logo {
  width: 10vmax;
}

#logo > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#head {
  justify-content: space-evenly;
  padding: 0;
}

#navbarNav {
  justify-content: space-around;
}

.web-des {
  display: flex;
  flex-direction: column;
}

.phone-des {
  display: flex;
  align-items: center;
  width: 5vmax;
}

.phone-des > span {
  color: #fff;
  font-size: 0.9vmax;
  font-weight: 700;
}

.phone-des > i {
  color: #fff;
  font-size: 0.9vmax;
}

.val {
  color: #fff;
  font-size: 1vmax;
  display: inline-block;
  width: 10vmax;
}

#navi {
  background: rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  position: sticky;
  top: 0;
}

#search {
  width: 40vmax;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#Address {
  width: 16vmax;
}

.search {
  border: none;
  background-color: #fff;
  padding: 0.4vmax 1vmax;
  border-radius: 20px;
  height: 6vmin;
  width: 22vmax;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s;
}

.search > i {
  font-size: 1vmax;
}

.search > input {
  margin: 0;
  border: none;
  width: 87%;
  margin-left: 1vmax;
  height: 100%;
  background-color: transparent;
  font-size: 1vmax;
}

#navi {
  border-top: 1px solid #eee;
}

#cont-navi {
  margin-left: 40vmax;
}

#qoute {
  border-radius: 40px;
  background: transparent;
  color: #fff;
  font-size: 1vmax;
  padding: 1.5vmin 2.5vmax;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
  border: 2px solid #fff;
}

#qoute:hover {
  background-color: #497174;
  border: 2px solid #497174;
}

.hero {
  width: 100%;
  height: 70vmin;
  display: flex;
  align-items: center;
  padding-left: 5vmax;
  /* border: 1px solid red */
}

.hero-box {
  width: 40vmax;
  height: 45vh;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vmax;
  transition: all 0.5s;
  animation: left 2s 0.5s 1;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@keyframes left {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-box:hover {
  box-shadow: 29px 20px 0px 5px #eee;
}

.hero-box > h2 {
  font-weight: bolder;
  font-size: 2.5vmax;
  display: flex;
  align-items: center;
}

.hero-box > h2 > span {
  font-size: 6vmax;
}

.hero-box > a {
  text-decoration: none;
  background: #497174;
  border-radius: 20px;
  color: #fff;
  width: 20vmax;
  height: 6vmin;
  display: flex;
  font-size: 1.3vmax;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s;
}

.hero-box > a:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #497174;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-block: 5vmin;
  padding: 1vmax;
}

.m-main {
  width: 100%;
  height: 80vh;
  display: flex;
}

.m-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
}

.m-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub-head {
  width: 100%;
  display: flex;
  align-items: center;
}

.sub-head > i {
  font-size: 2vw;
  color: #497174;
}

.sub-head > h3 {
  color: #497174;
  font-size: 2vw;
}

.m-heading > h1 {
  font-size: 3.5vw;
  font-weight: bold;
}

.m-des {
  width: 100%;
  display: flex;
  align-items: center;
}

.m-des > p {
  font-size: 1.1vw;
}

#cont-form {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.inp {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 4rem;
}

.u-inp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  margin-bottom: 1rem;
}

.u-inp > label {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

.u-inp > input {
  padding: 0.7rem;
  border-radius: 4px;
  border: 1px solid #dadada;
  font-size: 1rem;
  /* width: 22rem; */
  width: 90%;
}

.mes {
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.mes > label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1vmin;
}

.mes > textarea {
  width: 95%;
  height: 80%;
  border: 1px solid #dadada;
  border-radius: 4px;
  /* background-color: #FBFCF8; */
  padding: 1rem;
}

.sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sub > input {
  width: 95%;
  height: 100%;
  border-radius: 4px;
  background-color: #497174;
  padding: 0.5rem 0;
  border: none;
  color: #fff;
  font-size: 1.1vw;
  transition: all 0.4s;
  font-weight: bold;
}

.sub > input:hover {
  background-color: #fff;
  border: 1px solid #497174;
  color: #497174;
}

.side {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.u-inp > span {
  font-size: 0.9rem;
}

.side-box {
  width: 50%;
  height: 95%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #497174;
  padding: 1vmax;
  transition: all 0.3s;
}

.side-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ban-img {
  overflow: hidden;
}

.ban-img > img {
  transition: all 0.3s;
  border-radius: 4px;
}

.ban-img > img:hover {
  transform: scale(1.1);
}

.side-box > h1 {
  text-align: center;
  color: #fff;
  animation: blink 0.8s infinite;
  margin-top: 0.5rem;
}

@keyframes blink {
  0% {
    overflow: 1;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.1;
  }
}

.side-box > a {
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
  transition: all 0.3s;
}

.side-box > a:hover {
  transform: scale(1.1);
  color: #000;
}

.footer {
  width: 100%;
  background: #10182f;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  /* margin-left: 1vmax; */
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.ml {
  margin-left: 2vmax;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}

#slider2 {
  height: 100vh;
}

.date > span {
  font-size: 1.6vmax;
  font-weight: bold;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    height: 130vmin;
    align-items: flex-start;
    justify-content: center;
  }

  .sup-up {
    position: absolute;
    top: 0;
  }

  #uper-navi {
    display: block;
  }

  #nav {
    display: none;
  }

  .chat {
    left: 80%;
  }

  .chat > i {
    font-size: 1rem;
  }

  #goUp {
    display: none;
  }

  #up-cont-navi {
    width: 60vw;
  }

  #search {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .search > input {
    padding: 1vmin;
    font-size: 1.5vmax;
  }

  .cursor {
    display: none;
  }

  .up {
    display: block;
    width: 45%;
    display: flex;
    justify-content: center;
    justify-content: center;
    background: transparent;
    padding-top: 1vmin;
  }
  #s {
    width: 6rem;
    /* width: 90%; */
    display: block;
  }
  #navi {
    display: none;
  }
  #cont-navi {
    display: none;
    margin-left: 0;
  }

  .bold {
    font-size: 2vmax;
  }
  .sup-up {
    display: block;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .alert-des {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .alert-des > h2 {
    font-size: 6vw;
  }

  .alert-des > p {
    text-align: center;
    width: 80%;
    font-size: 3vw;
  }

  .up {
    height: 10vh;
  }

  #up-cont-navi {
    z-index: 190;
  }

  .hero-box {
    width: 80vw;
    height: 30vh;
  }

  .hero-box > h2 {
    font-size: 6vw;
  }

  .hero-box > h2 > span {
    display: inline-block;
    font-size: 6vw;
  }

  .hero-box > a {
    font-size: 3vw;
    width: 40vw;
  }

  .visi {
    z-index: 101;
    position: relative;
  }

  #l {
    font-size: 10vw;
  }

  #deal {
    display: none;
  }

  .m-main {
    flex-direction: column;
    align-items: center;
    height: 300vh;
  }

  .side-box{
    height: 60%;
  }

  .m-info {
    width: 100%;
  }

  .inputs {
    flex-direction: row;
  }

  .sub-head > i {
    font-size: 1.2rem;
  }

  .inp {
    width: 100%;
  }

  #cont-form {
    height: 100%;
  }

  .sub-head > h3 {
    font-size: 1.2rem;
  }

  .u-inp > input {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .u-inp > label {
    font-size: 0.7rem;
  }

  .m-des > p {
    font-size: 0.9rcap;
  }

  .s-box {
    width: 20rem;
    height: 7rem;
  }

  .s-box > i {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  .m-heading > h1 {
    font-size: 2rem;
  }

  .u-inp > span {
    font-size: 0.5rem;
  }

  .m-des > p {
    font-size: 1rem;
  }

  .inputs {
    flex-direction: column;
  }

  #submit {
    font-size: 1rem;
  }

  .s-des > h4 {
    font-size: 1.1rem;
  }

  .s-des > p {
    font-size: 0.7rem;
  }

  .inp {
    flex-direction: column;
  }
  .error {
    font-size: 0.5rem;
  }

  .side {
    width: 100%;
  }

  .side-box {
    width: 100%;
  }

  .chat-box {
    left: 1%;
    height: 40vh;
    top: 50%;
    width: 90vw;
  }

  .whatsapp {
    width: 2rem;
    height: 2rem;
  }

  .chat-text-up {
    margin-top: 0.3rem;
  }

  .chat-text {
    width: 80%;
  }

  .chat-msg {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 20px;
  }

  .msg {
    height: 3rem;
  }

}

@media (max-width: 768px) {
  .side {
    width: 100%;
  }

  .side-box {
    width: 100%;
  }

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 130vmin;
    align-items: flex-start;
    justify-content: center;
  }


  .sup-up {
    position: absolute;
    top: 0;
  }

  #uper-navi {
    display: block;
  }

  #nav {
    display: none;
  }

  .chat > i {
    font-size: 1rem;
  }

  #goUp {
    display: none;
  }

  #up-cont-navi {
    width: 60vw;
  }

  #search {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .search > input {
    padding: 1vmin;
    font-size: 1.5vmax;
  }

  .cursor {
    display: none;
  }

  .up {
    display: block;
    width: 20%;
    display: flex;
    justify-content: center;
    justify-content: center;
    background: transparent;
    padding-top: 2vmin;
  }
  #s {
    width: 7rem;
    /* width: 90%; */
    display: block;
  }
  #navi {
    border: 1px solid #eee;
    display: none;
  }
  #cont-navi {
    display: none;
    margin-left: 0;
  }

  .bold {
    font-size: 2vmax;
  }
  .sup-up {
    display: block;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  .up {
    height: 10vh;
  }

  #up-cont-navi {
    z-index: 190;
  }

  .hero-box {
    width: 70vw;
  }

  .hero-box > h2 {
    font-size: 4vw;
  }

  .hero-box > h2 > span {
    display: inline-block;
    font-size: 6vw;
  }

  .hero-box > a {
    font-size: 2vw;
    width: 40vw;
  }

  .visi {
    z-index: 101;
  }

  #l {
    font-size: 10vw;
  }

  .m-main {
    flex-direction: column;
    align-items: center;
    height: 270vh;
  }

  .inputs {
    flex-wrap: wrap;
  }

  .sub-head > i {
    font-size: 1.2rem;
  }

  .u-inp > span {
    font-size: 0.6rem;
  }

  .sub-head > h3 {
    font-size: 1.2rem;
  }

  .u-inp > input {
    font-size: 0.7rem;
  }

  .u-inp > label {
    font-size: 0.9rem;
  }

  .m-des > p {
    font-size: 0.9rem;
  }

  .chat-box {
    left: 34%;
    height: 40vh;
    top: 50%;
    width: 60vw;
  }

  .whatsapp {
    width: 2rem;
    height: 2rem;
  }

  .chat-text-up {
    margin-top: 0.3rem;
  }

  .chat-text {
    width: 80%;
  }

  .chat-msg {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 20px;
  }

  .msg {
    height: 3rem;
  }

}

@media (min-width: 769px) and (max-width: 991px) {
  header {
    flex-direction: column;
    height: 130vmin;
    align-items: flex-start;
    justify-content: center;
  }

  
  .side{
    width: 100%;
  }

  .side-box{
    width: 80%;
  }

  .sup-up {
    position: absolute;
    top: 0;
  }

  #uper-navi {
    display: block;
  }

  #nav {
    display: none;
  }

  .chat {
    left: 90%;
    top: 89%;
  }

  .chat > i {
    font-size: 1rem;
  }

  #up-cont-navi {
    width: 60vw;
  }

  #search {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .search > input {
    padding: 1vmin;
    font-size: 1.5vmax;
  }

  .cursor {
    display: none;
  }

  .up {
    display: block;
    width: 20%;
    display: flex;
    justify-content: center;
    justify-content: center;
    background: transparent;
    padding-top: 2vmin;
  }
  #s {
    width: 7rem;
    /* width: 90%; */
    display: block;
  }
  #navi {
    border: 1px solid #eee;
    display: none;
  }
  #cont-navi {
    display: none;
    margin-left: 0;
  }

  .bold {
    font-size: 2vmax;
  }
  .sup-up {
    display: block;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .up {
    height: 10vh;
  }

  #up-cont-navi {
    z-index: 190;
  }

  .hero-box {
    width: 60vw;
  }

  .hero-box > h2 {
    font-size: 3vw;
  }

  .hero-box > h2 > span {
    display: inline-block;
    font-size: 6vw;
  }

  .hero-box > a {
    font-size: 2vw;
    width: 40vw;
  }

  .visi {
    z-index: 101;
  }

  #l {
    font-size: 10vw;
  }

  #deal > a {
    padding: 0.7rem 1.5rem;
  }
  .m-main {
    flex-direction: column;
    align-items: center;
    height: 230vh;
  }

  .m-des > p {
    font-size: 0.9rcap;
  }

  .chat-box {
    left: 53%;
    height: 40vh;
    top: 50%;
    width: 40vw;
  }

  .whatsapp {
    width: 2rem;
    height: 2rem;
  }

  .chat-text-up {
    margin-top: 0.3rem;
  }

  .chat-text {
    width: 80%;
  }

  .chat-msg {
    position: absolute;
    bottom: 20px;
  }

  .msg {
    height: 3rem;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .hero-box {
    height: 40vh;
  }

  .m-main {
    flex-direction: column;
    align-items: center;
    height: 230vh;
  }

  
  .side{
    width: 100%;
  }

  .side-box{
    width: 80%;
    height: 50%;
  }

  .chat-box {
    position: fixed;
    top: 60%;
    width: 40vw;
    left: 52%;
  }

  .whatsapp {
    width: 2rem;
    height: 2rem;
  }

  .chat-text-up {
    margin-top: 0.3rem;
    height: 30%;
  }

  .chat-text {
    width: 80%;
  }

  .chat-msg {
    position: absolute;
    bottom: 20px;
  }

  .msg {
    height: 3rem;
  } 
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero-box {
    height: 40vh;
  }
  
  .side-box{
    width: 80%;
  }

  .chat-box {
    left: 62%;
    height: 30vh;
    top: 60%;
    width: 30vw;
  }

  .whatsapp {
    width: 2rem;
    height: 2rem;
  }

  .chat-text-up {
    margin-top: 0.3rem;
  }

  .chat-text {
    width: 80%;
  }

  .chat-msg {
    position: absolute;
    bottom: 20px;
  }

  .msg {
    height: 3rem;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  #submit {
    border-radius: 50px;
  }

  #deal {
    top: 93%;
  }

  #deal > a {
    border-radius: 50px;
  }

  .chat {
    top: 90%;
    padding: 2vmax;
  }

  .search {
    border-radius: 50px;
  }
}
